body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0C0c0c;
  color: white;
}

.home {
  min-height: 100vh;
  padding: 140px 80px;
}


.home h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  max-width: 600px;
}


/* HERO ANIMATION */
.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s ease forwards;
}

.delay {
  animation-delay: 0.3s;
}

.delay2 {
  animation-delay: 0.6s;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn.primary {
  background-color: #2ee59d;
  color: black;
}

.btn.secondary {
  background-color: transparent;
  color: #2ee59d;
  border: 1px solid #2ee59d;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(46, 229, 157, 0.2);
}


